@import '~vuetify/src/stylus/settings/_variables'

@require '~typeface-muli/index.css'

@import "~vue-wysiwyg/dist/vueWysiwyg.css"

$body-font-family = 'Muli', sans-serif !important
$heading-font-family = 'Muli', sans-serif !important

.title
  font-family = $body-font-family

.display-1
  font-family = $body-font-family

.display-2
  font-family = $body-font-family

@import '~vuetify/src/stylus/main'